@model Pedido
@{
    ViewBag.Subtitulo = "Exclusão do Pedido";
}

<h1 class="text-primary">Exclusão do Pedido</h1>
<hr>
<h4>Deseja realmente excluir o pedido <span class="text-danger">@Model.PedidoId?</span></h4>
<form method="POST" class="w-25">
    <input type="hidden" asp-for="PedidoId">

    <div class="mt-3">
        <a asp-action="Index" class="btn btn-success">Não</a>
        <button class="btn btn-danger" type="submit">Sim</button>
    </div>
</form>