@model IQueryable<Pedido>
@{
    ViewBag.Subtitulo = "Listagem de Pedidos";
}

<h1 class="text-primary">Listagem de pedidos por Fornecedor</h1>
<hr>
<a href="/Pedidos/Cadastrar" class="btn btn-primary">Novo Pedido</a>
<table class="table">
    <thead>
        <tr>
            <th>Data do Cadastro</th>
            <th>Valor Total</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.DataCadastro</td>
                <td>@p.ValorTotal</td>
                <td>
                    <a asp-action="Alterar" asp-route-id="@p.IdPedido" class="btn btn-sm btn-secondary">Alterar</a>
                    <a asp-action="Excluir" asp-route-id="@p.IdPedido" class="btn btn-sm btn-danger">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
